@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>
<div>
    <table id="tblJobs" class="Table">
        <tr>
            <th><a id="lnkProductID" href="#">Product ID</a></th>
            <th><a id="lnkProductName" href="#">Product Name</a></th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
            <th>Units In Stock</th>
        </tr>
    </table>
</div>
